.section-heading strong {
    font-weight: 700; }

.hero {
    position: relative;
    background-size: cover;
 }
    .hero, .hero > .container > .row {
      height: 100vh;
      min-height: 570px; }
    .hero .intro {
      position: relative;
      z-index: 4; }
      .hero .intro h1 {
        color: #000;
        font-size: 50px; }
      .hero .intro strong {
        font-weight: 900; }
    .hero.inner-page, .hero.inner-page > .container > .row {
      height: 55vh !important;
      min-height: 200px; }


      .site-section {
        padding: 2.5em 0; }
        @media (min-width: 768px) {
          .site-section {
            padding: 5em 0; } }
        .site-section.site-section-sm {
          padding: 4em 0; }



          .step {
            position: relative; }
            .step .number {
              font-weight: 900;
             }
            .step > span {
              font-size: 100px;
              color: #0779e4;
              font-weight: 900;
              top: 0;
              left: -30px;
              position: absolute; }
            .step .step-inner {
              position: relative;
              padding: 40px;         
              -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
              background: #fff;
              font-size: 14px; }
              .step .step-inner h3 {
                font-size: 20px;
                color: #000;
                font-weight: 700; }
              .step .step-inner *:last-child {
                margin-bottom: 0; }
              .step .step-inner p {
                color: #999; }
          

                .testimonial-2 {
                  border-radius: 7px;
                  background: #fff;
                  padding: 30px;
                  border-bottom: 4px solid #0779e4;
                  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
                  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1); }
                  .testimonial-2 blockquote {
                    font-size: 18 px; }
                  .testimonial-2 .v-card img {
                    width: 50px;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50px;
                    flex: 0 0 50px;
                    border-radius: 50%; }
                  .testimonial-2 .author-name {
                    line-height: 1.3; }
                    .testimonial-2 .author-name > span:nth-of-type(2) {
                      color: #ccc; }

                      .testimonial-2:hover{

                        transform: translate(-10px);
                      }



                      .site-footer {
                        width: 100%;
                        padding: 4em 0; }
                        @media (min-width: 768px) {
                          .site-footer {
                            padding: 8em 0; } }
                        .site-footer .border-top {
                          border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
                        .site-footer a {
                          color: rgba(0, 0, 0, 0.5); }
                          .site-footer a:hover {
                            color: black; }
                        .site-footer ul li {
                          margin-bottom: 10px; }
                        .site-footer .footer-heading {
                          font-size: 16px;
                          color: #000; }


                          .img-rent{

                            width: 150px;
                            height: auto;
                            border-radius: 50%;
                          }



                          .credit-card {
                            width: 360px;
                            height: 400px;
                            margin: 60px auto 0;
                            border: 1px solid #ddd;
                            border-radius: 6px;
                            background-color: #fff;
                            box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
                        }


                        .form-header {
                          height: 60px;
                          padding: 20px 30px 0;
                          border-bottom: 1px solid #e1e8ee;
                      }
                       
                      .form-body {
                          height: 340px;
                          padding: 30px 30px 20px;
                      }

                      .title {
                        font-size: 18px;
                        margin: 0;
                        color: #5e6977;
                    }


                    .card-number,
.cvv-input input,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
    opacity: .7;
    color: #86939e;
}


.card-number {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
}


.month select,
.year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: url('caret.png') no-repeat;
    background-position: 85% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
}
 
.month select {
    float: left;
}
 
.year select {
    float: right;
}


.cvv-input input {
  float: left;
  width: 145px;
  padding-left: 20px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  background: #fff;
}

.cvv-details {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  float: right;
  margin-bottom: 20px;
}

.cvv-details p {
  margin-top: 6px;
}


.paypal-btn,
.proceed-btn {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-color: transparent;
    border-radius: 6px;
}
 
.proceed-btn {
    margin-bottom: 10px;
    background: #7dc855;
}
 
.paypal-btn a,
.proceed-btn a {
    text-decoration: none;
}
 
.proceed-btn a {
    color: #fff;
}
 
.paypal-btn a {
    color: rgba(242, 242, 242, .7);
}
 
.paypal-btn {
    padding-right: 95px;
    background: url('paypal-logo.svg') no-repeat 65% 56% #009cde;
}